<%= link_to 'logout', destroy_user_session_path, method: :delete %>

<div class="row col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <h1><%= @chatroom.topic %></h1>

    <div class="panel-body" id="messages">
      <% if @chatroom.messages.any? %>
        <%= render @chatroom.messages %>
      <% end %>
    </div>

    <%= render 'message_form', message: @message, chatroom: @chatroom %>
  </div>
</div>